/* styling for footer component.*/

.footer {

    width: 100%;
    background-color: #34435E;
    
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

}

/* 977
flex-grow: 1;
*/